
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="{% static 'js/style1.js' %}"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">login<span class="sr-only">(current)</span></a>
        </li>

      </nav>
    
    {% if user.is_authenticated %}

    <h1 class='judul'>Have a nice day!</h1>
    <h1 class='judul'>{{user.username}}</h1>
    
    <div class="centre-items tombol">
      <a class='btn btn-primary tombol text-center' href="{% url 'logout' %}">logout</a>
  </div>

    <div class="content">
      

  
    <body>
      <div class='container'>
          <h1 class = 'judul'>Book List</h1>
    
          <div class="input">
              <input type="text" id="keyword" placeholder="Search for books.." >
          </div>
          <br>
          <div class="content">
              <table >
                  <thead>
                      <tr>
                          <th scope="col" class="align-middle">No</th>
                          <th scope="col" class="align-middle">Cover</th>
                          <th scope="col" class="align-middle">Title</th>
                          <th scope="col" class="align-middle">Authors</th>
                          <th scope="col" class="align-middle">Publisher</th>
                          <th scope="col" class="align-middle">Published Date</th>
                      </tr>
                  </thead>
                  <tbody id="daftar_isi"></tbody>
                  
    
                    
                  </div>
              </table>
          </div>
      </div>
    </body>
    
    {% else %}

    <h1 class='judul'>Hello!</h1>

    <div class='form'>
        <form action="" method="POST">
            {% csrf_token %} {{ form }}
            <div class="centre-items tombol">
                <input type="submit" class="btn btn-primary" value="Login" id="submit">
            </div>
        </form>
    </div>

    {% endif %}

</body>

</html>
